discord
pyexcel
pyexcel-xlsx
pytz
requests
asyncpraw
moviepy==1.0.3 # v2.X.X will conflict with rvc-python
requests
yt_dlp
pyshorteners
openai
azure.cognitiveservices.speech
langdetect
PyNaCl
bs4
psutil
gTTS
numpy
opencv-python-headless
pet-pet-gif
qrcode
Pillow
# pymediainfo
rvc-python==0.1.5
python-dotenv